/* ----------
Designed by alvinchiu110
http://www.wretch.cc/blog/alvinchiu110/
---------- */
html {
}
#text {
}
body {
margin:0px;
font-size:14px;
color:#ffffff;
font-family:"Trebuchet Ms";
background: #ffffff no-repeat center; 
background-size: 1200px 1200px; 
#background-image:url(/Images/background2.jpg);width:1000px;height:1200px;
}
a {
color:#00bfff;text-decoration:none;}
a:hover {
color:#15ffff;}
#container1 {
border-left:1px solid rgb(51, 51, 51);border-right:1px solid rgb(51, 51, 51);margin:0px auto;overflow:hidden;width:800px;cursor:auto;background-repeat:repeat-y;position:relative;background-color:#000000;}
#container2 {
}
#banner {
border-bottom:1px dotted rgb(0, 0, 0);background-image:url(/Images/background1.jpg);width:800px;height:255px;}
h1 a {
font-weight:normal;font-size:20pt;left:450px;width:300px;color:#00bfff;position:relative;top:50px;text-align:left;font-family:"Lucida Grande";}
#pageheader #description2 .description {
left:450px;width:100%;position:absolute;top:180px;text-align:left;}
#content {
margin-top:5px;float:left;margin-left:10px;width:550px;overflow:hidden;}
.date {
border:0px solid rgb(51, 51, 51);background:#00bfff;padding-right:0px;font-style:italic;text-align:right;}
.datediv {
border-color:#000000;border-top-width:0px;color:#00bfff;background-color:#000000;border-bottom-style:ridge;}
.blogbody {
border-color:#333333;border-width:1px;border-top:1px solid rgb(51, 51, 51);padding:10px;margin-bottom:15px;background-color:#000000;}
.total-comments-div {
border-top:1px dotted rgb(153, 153, 153);margin-top:10px;padding-top:10px;}
.total-comments-div .trackbacks-head .comments-head {
border:1px solid rgb(170, 170, 170);padding:7px;margin-bottom:10px;}
.total-comments-div .comments-head {
border:1px ridge rgb(0, 191, 255);padding:7px;}
.total-comments-div .comments-bottom .comments-head {
border:1px solid rgb(0, 191, 255);padding:7px;margin-top:10px;}
.total-comments-div .comments-body {
border-bottom:1px dotted rgb(136, 136, 136);}
.total-comments-div .comments-body .comments-post {
color:#aaaaaa;text-align:right;}
#links {
border-left:1px dotted rgb(51, 51, 51);background:#000000;float:right;width:220px;color:#00bfff;overflow:hidden;}
#links2 {
color:#00bfff;}
.sidetitle {
border-bottom:2px ridge rgb(0, 191, 255);background:#00bfff;padding-left:10px;cursor:default;color:#ffffff;}
.side {
padding:10px;color:#ffffff;background-color:#000000;}
.calendar {
padding:0pt;font-size:14px;margin-bottom:20px;}
a:hover {
color:#15ffff;}
#boxProfile .boxProfile1 {
color:#00bfff;text-decoration:none;}
a:hover {
color:#15ffff;}
#boxProfile .boxProfile1 .side {
color:#00bfff;text-decoration:none;}
a:hover {
color:#15ffff;}
#boxProfile .boxProfile1 .side .boxrofileLink {
color:#00bfff;text-decoration:none;}
a:hover {
color:#15ffff;}
.syndicate {
padding:10px;}
.powered {
padding:10px;}
.title {
color:#3ae9e9;}
.extended a {
color:#00bfff;text-decoration:none;}
.posted a {
color:#00bfff;text-decoration:none;}
.innertext p img {
background-color:#ffffff;}
#service li {
}
#blogCategory a {
color:#00bfff;text-decoration:none;}
#blogCategory a:hover {
color:#15ffff;}
#linkMypage {
color:#00bfff;text-decoration:none;}
.side a {
color:#00bfff;text-decoration:none;}
a:hover {
color:#15ffff;}
#banner a {
text-decoration:none;}
.innertext p a {
color:#15c4ff;}
#linkBlog {
color:#00bfff;text-decoration:none;}
.syndicate a {
color:#00bfff;text-decoration:none;}
a:hover {
color:#15ffff;}
.powerin {
color:#00bfff;text-decoration:none;}
a:hover {
color:#15ffff;}
.powered a {
color:#00bfff;text-decoration:none;}
a:hover {
color:#15ffff;}
.calendar tr td {
font-weight:400;}
tr td span.calendar a {
border:1px solid rgb(21, 255, 255);background:#000000;color:#15ffff;display:block;}
tr td span.calendar a:hover {
background:#15ffff;color:#000000;}
#friendlist {
color:#00bfff;background-color:#000000;}
.side select {
color:#00bfff;background-color:#000000;}
span.titleIII {
display:none;}
.sideIII {
font-size:9px;}
textarea {
border:1px solid rgb(0, 191, 255);background:#121605;font-size:10pt;width:100%;color:#00fdff;}
input {
border:1px solid rgb(0, 191, 255);background:#121605;font-size:10pt;color:#00fdff;}
ul.comments-author {
background:#5c5c5c;font-size:14px;color:#ffffff;}
#pageheader h1 span.description {
display:none;}
#bigcontainer {
}
/*
     FILE ARCHIVED ON 15:55:06 Jan 01, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:20:30 Apr 08, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.337
  PetaboxLoader3.datanode: 96.389 (4)
  PetaboxLoader3.resolve: 185.625
  CDXLines.iter: 28.674 (3)
  exclusion.robots.policy: 0.323
  RedisCDXSource: 6.045
  LoadShardBlock: 234.187 (3)
  load_resource: 200.999
  esindex: 0.012
  captures_list: 271.946
*/
