.trackback_a { cursor: hand; }
.mapwidth { width: 100%; height: 400px; }
.calendar2{ height:240px; }
.history{zoom:1;}
.history:after {content: "."; display:block; height:0 ; clear:both; visibility:hidden}
.history_title{float:left;}
.history_articles{float:left}
.cmt_floor_hide{color: blue; margin-bottom: .5em; display:none}
.cmt_floor{float:right;}

/*
     FILE ARCHIVED ON 15:54:38 Jan 01, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:17:24 Apr 08, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  CDXLines.iter: 112.799 (3)
  exclusion.robots: 0.225
  RedisCDXSource: 7.591
  esindex: 0.012
  load_resource: 184.164
  PetaboxLoader3.datanode: 404.566 (7)
  PetaboxLoader3.resolve: 79.645
  LoadShardBlock: 526.385 (6)
  exclusion.robots.policy: 0.206
*/
