#HiddenTrackback.hide-list{display:none;}
.comments-head a{clear:both;overflow:hidden;zoom:1;display:block;}
.comments-head a span{*float:left;}
#trackback-switch{color:black;cursor:pointer;width:13px;height:13px;display:inline-block;background-image:url(/web/20140101155438im_/http://l.yimg.com/e/serv/blog/img/ico_trackback_expand.jpg);margin-left:5px;*display:block;*margin-top:5px;}
#trackback-switch.hide{background-image:url(/web/20140101155438im_/http://l.yimg.com/e/serv/blog/img/ico_trackback_hide.jpg);}

/*
     FILE ARCHIVED ON 15:54:38 Jan 01, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:30:01 Apr 08, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.292
  LoadShardBlock: 967.227 (6)
  RedisCDXSource: 10.706
  load_resource: 56.631
  CDXLines.iter: 166.776 (3)
  PetaboxLoader3.datanode: 942.229 (7)
  esindex: 0.023
  PetaboxLoader3.resolve: 44.414
  exclusion.robots: 0.312
*/
